<!DOCTYPE html>
<html dir="ltr">
	<head>
		<meta charset="utf-8">
		<!-- ==== TITULO DEL DOCUMENTO ==== -->
    	<title> BlocKey | Mi perfil de administrador</title>

    	<!-- ==== HOJAS DE ESTILOS ==== -->
    	<!-- --- Hojas de estilo principal --- -->
    	<link href="static/css/style.css" rel="stylesheet">

        <!-- --- Tipografía --- -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

        <!-- --- JavaScript --- -->
        <script src="static/js/function.js"></script>
	</head>

    <!-- ==== CUERPO PRINCIPAL ==== -->
    <body onload="onLoadAdminProfile();">

    	<!-- --- Menú de navegación --- -->
    	<nav class="nav">
            <a id="inicio"> BlocKey</a>
      		<ul>
       			<li>
                    <div><img src="static/images/grupo.png"></div>
                    <a href="admin_users.html">Listado de usuarios</a>
                </li>
                <li>
                    <div><img src="static/images/cerrar-sesion.png"></div>
                    <a onclick="confirmacionSalida()">Cerrar sesión</a>
                    <div id="cerrar_sesion" class="popup_cierre_sesion">
                        <p>¿Estás seguro de que quieres cerrar sesión?</p>
                        <button id="salir" onclick="closeConfirmacionSalidaSi()">¡Sí!</button>
                        <button onclick="closeConfirmacionSalidaNo()">Cancelar</button>
                    </div>
                </li>
      		</ul>
    	</nav>

    	<!-- --- Bloque de encabezado --- -->
		<header class="header-content">
            <h1>Perfil</h1>
            <h2>Mis datos de administrador</h2>
        </header>

    	<!-- --- Bloque principal --- -->
        <div class="container">
            <div class="content">
                <div class="profile">
                    <form id="display1" name='display1'>
                        <img src="static/images/administrador.png" alt="Foto de perfil">
                        <div class="form-group">
                            <label for="email_admin">Correo electrónico:</label>
                            <input type="text" id="email_admin" name="email_admin">
                        </div>
                        <div class="form-group">
                            <label for="password_admin">Contraseña:</label>
                            <input type="text" id="password_admin" name="password_admin">
                        </div>
                    </form>
                </div>
                
                <button id="botonCentrado" onclick="openEditProfile()"><img style="margin-right: 15px;" src="static/images/editar.png">Editar perfil</button>

                <!-- Pop up para editar la contraseña de administrador-->
                <div id="EditProfile" class="popup">
                    <h2>Editar perfil</h2>
                    <form id="edit1" name="edit1">
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </form>
                    <button onclick="guardarAdmin(document.edit1.password.value); location.reload();">Guardar cambios</button>
                    <button onclick="closeEditProfile()">Cancelar</button>
                </div>
            </div>

        	<!-- --- Footer --- -->
            <footer>
                <p>&copy; 2023&nbsp;<a href="index.html">BlocKey</a>, Todos los derechos reservados</p>
        	</footer>
        </div>
    </body>
</html>