<!DOCTYPE html>
<html dir="ltr">
	<head>
		<meta charset="utf-8">
		<!-- ==== TITULO DEL DOCUMENTO ==== -->
    	<title> BlocKey | Contáctanos </title>

    	<!-- ==== FAVICONS ==== -->
    

    	<!-- ==== HOJAS DE ESTILOS ==== -->
    	<!-- --- Hojas de estilo principal --- -->
    	<link href="static/css/style.css" rel="stylesheet">

        <!-- --- Tipografía --- -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	</head>

    <!-- ==== CUERPO PRINCIPAL ==== -->
    <body>

    	<!-- --- Menú de navegación --- -->
    	<nav class="nav">
            <a id="inicio" href="index.html"> BlocKey</a>
      		<ul>
        		<li>
                    <div><img src="static/images/ayuda.png"></div>
                    <a href="faq.html">Preguntas Frecuentes</a>
                </li>
        		<li>
                    <div><img src="static/images/usuario.png"></div>
                    <a href="login_register.html">Iniciar sesión</a>
                </li>
      		</ul>
    	</nav>

    	<!-- --- Bloque de encabezado --- -->
		<header class="header-content">
                <h1>Contacta con nosotros</h1>
                <h2>Te enviaremos un correo lo antes posible resolviendo tus preguntas.</h2>
        </header>

    	<!-- --- Bloque principal --- -->
        <div class="container">
            <div class="content">
                <form class="contact">
                    <label for="email">Tu correo electrónico:</label>
                    <input type="email" id="email" name="email" required><br><br>

                    <label for="mensaje">Tu mensaje:</label>
                    <textarea id="mensaje" name="mensaje" rows="4" required></textarea><br><br>

                    <button type="submit" value="Enviar">Enviar</button>
                </form>
            </div>

        	<!-- --- Footer --- -->
            <footer>
                <p>&copy; 2023&nbsp;<a href="index.html">BlocKey</a>, Todos los derechos reservados</p>
        	</footer>
        </div>
    </body>
</html>