<!DOCTYPE html>
<html dir="ltr">
  <head>
		<meta charset="utf-8">
		  <!-- ==== TITULO DEL DOCUMENTO ==== -->
    	<title> BlocKey | Preguntas frecuentes </title>

    	<!-- ==== HOJAS DE ESTILOS ==== -->
    	<!-- --- Hojas de estilo principal --- -->
    	<link href="static/css/style.css" rel="stylesheet">

      <!-- --- Tipografía --- -->
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	</head>

    <!-- ==== CUERPO PRINCIPAL ==== -->
    <body>

    	<!-- --- Menú de navegación --- -->
    	<nav class="nav">
        <a id="inicio" href="index.html"> BlocKey</a>
      	<ul>
     			<li>
            <div><img src="static/images/contacto.png"></div>
            <a href="contact.html">Contacto</a>
          </li>
      		<li>
            <div><img src="static/images/usuario.png"></div>
            <a href="login_register.html">Iniciar sesión</a>
          </li>
      	</ul>
    	</nav>

    	<!-- --- Bloque de encabezado --- -->
  		<header class="header-content">
        <h1>Preguntas Frecuentes</h1>
        <h2>Aquí encontrarás la guía de uso y la resolución de problemas de BlocKey.</h2>
      </header>

    	<!-- --- Bloque principal --- -->
        <div class="container">
          <div class="content">
            <div class="question">
                <h3>¿Para qué sirve BlocKey?</h3>
            </div>
            <div class="answer">
              <p style="text-align: justify;">BlocKey es una aplicación multiplaforma que permite almacenar, de manera segura, contraseñas y datos personales. Esta aplicación está adaptada para que pueda ser usada por todas las personas.</p>
              <br>
            </div>

            <div class="question">
              <h3>¿Cómo puedo registrarme en BlocKey?</h3>
            </div>
            <div class="answer">
              <p style="text-align: justify;">Si todavía no tienes una cuenta en BlocKey, deberás registrarte usando tu correo electrónico y una contraseña en este enlace. Si ya tienes una cuenta, ¡solo tienes que iniciar sesión con tu usuario y contraseña!</p>
              <br>
            </div>

            <div class="question">
              <h3>¿Cómo puedo crear un registro con una contraseña?</h3>
            </div>
            <div class="answer">
              <p style="text-align: justify;">Para poder crear un registro, es necesario que accedas al apartado "Mi caja fuerte" dentro de tu cuenta de usuario y darle al botón de "Añadir nuevo registro de contraseña". En esta página deberás rellenar los diferentes campos para poder almacenar el registro en tu cuenta.</p>
              <br>
            </div>
                
            <div class="question">
              <h3>¿Cuánto de seguras son mis contraseñas?</h3>
            </div>
            <div class="answer">
              <p style="text-align: justify;">Dentro de tu cuenta de BlocKey, puedes acceder al apartado "Seguridad de mis contraseñas" donde encontraras los datos relacionados con la seguridad de las contraseñas almacenadas en tu cuenta. Podrás ver las contraseñas reutilizadas, las contraseñas débiles y la contraseñas únicas.</p>
              <br>
            </div>
          </div>

        	<!-- --- Footer --- -->          		
          <footer>
            <p>&copy; 2023&nbsp;<a href="index.html">BlocKey</a>, Todos los derechos reservados</p>
        	</footer>
        </div>
    </body>
</html>