<!DOCTYPE html>
<html dir="ltr">
	<head>
		<meta charset="utf-8">
		<!-- ==== TITULO DEL DOCUMENTO ==== -->
    	<title> BlocKey | Gestor de contraseñas inclusivo </title>

    	<!-- ==== FAVICONS ==== -->
    

    	<!-- ==== HOJAS DE ESTILOS ==== -->
    	<!-- --- Hojas de estilo principal --- -->
    	<link href="static/css/style.css" rel="stylesheet">

        <!-- --- Tipografía --- -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
	</head>

    <!-- ==== CUERPO PRINCIPAL ==== -->
    <body>

    	<!-- --- Menú de navegación --- -->
    	<nav class="nav">
            <a id="inicio" href="index.html"> BlocKey</a>
      		<ul>
        		<li>
                    <div><img src="static/images/ayuda.png"></div>
                    <a href="faq.html">Preguntas Frecuentes</a>
                </li>
       			<li>
                    <div><img src="static/images/contacto.png"></div>
                    <a href="contact.html">Contacto</a>
                </li>
        		<li>
                    <div><img src="static/images/usuario.png"></div>
                    <a href="login_register.html">Iniciar sesión</a>
                </li>
      		</ul>
    	</nav>

    	<!-- --- Bloque de encabezado --- -->
		<header class="header-content">
                <h1>Gestor de contraseñas inclusivo</h1>
                <h2>BlocKey</h2>
        </header>

    	<!-- --- Bloque principal --- -->
        <div class="container">
            <div class="content">
                <h2> Nuestros principios</h2>
                <div class="columna">
                    <div><img src="static/images/inclusive.png"></div>
                    <h3>Nuestros principios</h3>
                    <p>Adecuada para que cualquier persona pueda gestionar todas sus contraseñas.</p>
                </div>
                <div class="columna">
                    <div><img src="static/images/stronger.png"></div>
                    <h3>Robustez</h3>
                    <p>Crea contraseñas seguras para evitar que te roben tu información privada.</p>
                </div>
                <div class="columna">
                    <div><img src="static/images/personal_data.png"></div>
                    <h3>Datos personales</h3>
                    <p>Guarda información personal para evitar pérdida o robo de tus tarjetas físicas.</p>
                </div>
                <div class="columna">
                    <div><img src="static/images/security.png"></div>
                    <h3>Seguridad</h3>
                    <p>Revisa la seguridad de tus contraseñas para que nunca se vean comprometidas.</p>
                </div>  
            </div>

        	<!-- --- Footer --- -->
            <footer>
                <p>&copy; 2023&nbsp;<a href="index.html">BlocKey</a>, Todos los derechos reservados</p>
        	</footer>
        </div>
    </body>
</html>